/Swing5/nbproject/private/
/Swing5/build/
/Swing5/dist/
/Swing6/nbproject/private/
/Swing6/dist/
/Swing6/build/
/Swing7/nbproject/private/
/Swing7/dist/
/Swing7/build/
/LexicalAnalyzer2/nbproject/private/
/LexicalAnalyzer2/dist/
/LexicalAnalyzer2/build/
/Tokenizer/nbproject/private/
/Tokenizer/build/
/Tokenizer/dist/
/Swing8/nbproject/private/
/Swing8/dist/
/Swing8/build/
/Swing9/nbproject/private/
/Swing9/dist/
/Swing9/build/
/Swing10/nbproject/private/
